html{
    font-size: 16px;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#DarkMode{
    position:absolute;
    top: 1.2rem;
    right: 10px;
    background-color: #7209b7;
    height: 3.5rem;
    color: white;
    width: 7rem;
    border-radius: 10px;
    font-size: 1rem;
}

.op{
    height: 20vw;
    width: 20vw;
    border: 10px solid black;
    border-radius: 50%;
    background-color: aquamarine;
    margin:10px;
    background-size:180%;
    background-repeat: no-repeat;
    background-position: center;

}
@media (min-width: 1024px) {
    .op {
        height: 10vw;  /* Smaller size for laptops */
        width: 10vw;   /* Adjust based on your preference */
    }
}
#comp{
    display:flex;
    position: absolute;
    order:1;
}
#pers{
    order: 1; 
    position:absolute;
    display: flex;
    justify-content: center;
}
#compName{
    order:0;
    position: relative;
    margin-right: 60rem;
        font-family: 'Poppins', sans-serif;


}
#playerName {
    order: 0;
    /* text-align: center; */
    position: relative;
    margin-top: 0rem;
    margin-right: 60rem;
    /* color: white; */
    /* font-size: 1rem; */
    padding-left: 1rem;
    text-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

#computer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    width:44rem;
    padding-top: 0rem;
    height: 14rem;
    background-color: #ed8166;
    position: relative;
    border-radius: 50px;

}

#player{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
background: linear-gradient(to right, #fdcb6e 0%, #fdcb6e 22%, #ed8166 22%, #ed8166 74%, transparent 74%);
    border:black 0px solid;
    border-radius: 50px;
    height: 14rem;
    width: fit-content;
    padding-right: -16rem;
    /* padding-left: 16rem; */
}
#rightend{
    height: 14rem;
    width: 44rem;
    border-radius: 50px;
    position: absolute;
    /* background-color: #045563; */
    background: linear-gradient(to left, #ed8166 0%, #ed8166 10%,transparent 10%);
    pointer-events: none;
}

#header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3vw;
    text-align: center;
    background-color: black;
    color: white;
    width: 100vw;
    height: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#result{
    margin-top: 2rem;
    height: auto;
    width: 18rem;
    display: flex;
    justify-content: center;
    background-color:#08c6e8;
    border: 0cap;
    border-radius:50px;

}

#play:hover{
    background-color: #08c6e8;
    color: white;
    cursor: pointer;
}
#reset{
    border: 0px;
    border-radius: 15%;
    margin: 0.5rem;
    font-size: 2rem;
    width: 14rem;
    box-shadow: 0px 0px 1px 2px black;
    height: 3rem;
}
#reset:hover{
    background-color: #045563;
    color: white;
    cursor: pointer;
}
#score{
    position: absolute;
    right: 5rem;
    top: 15rem;
    font-size: 1.5rem;
}
#congrats{
    position: absolute;
    top:6rem;
}